<div class="row align-center mb-5">
  <h1>Post Info:</h1>
  <div class="col-md-6">
    <h2>Date Created: {{date_created}}</h2>
    <h3>Post Title: {{title}}</h3>
    <h4 id="con">About: {{content}}</h4>
  </div>
</div>