header,
.project:not(:last-child) {
  border-bottom: 1px solid rgb(201, 196, 196);
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #2197ce;
  text-decoration: none;
  font-size: 100%;
}

#logintext {
  font-size: 25px;
}

#signuptext {
  font-size: 25px;
}

#headertext {
  font-size: 30px;
}

#title {
  font-weight: bold;
  color: black;
  background-color: white;
  border-radius: 10px;
}

.no-button:hover {
  color: #0d628a;
  text-decoration: underline;
}

.dollar-amount {
  color: #177717;
  font-weight: bold;
  margin-left: -5px;
}

html {
  background-color: #b1b64c;
}

h1 {
  color: white;
  background-color: black;
  border-radius: 10px;
}

h2 {
  font-size: 20px;
  color: rgb(0, 0, 0);
  background-color: red;
  border-radius: 10px;
}

h3 {
  background-color: blue;
  border-radius: 10px;
}

h4 {
  background-color: green;
  border-radius: 10px;
}
