header,
.project:not(:last-child) {
  border-bottom: 1px solid rgb(201, 196, 196);
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #2197ce;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #0d628a;
  text-decoration: underline;
}

.dollar-amount {
  color: #177717;
  font-weight: bold;
  margin-left: -5px;
}

html {
  background-color: #b1b64c;
}
